

}

header, footer{
  background: #363435;
  color: #fff;
}


::-webkit-input-placeholder{
  font-family: "Comic Sans Ms";
}

}
li>span:hover{
  border-bottom: 2px solid gold;
  left:10px;
}
li>span:active{
  border-bottom: 2px solid darkred;
}

iframe{
  width:800px;
  height: 400px;
}
.default_pag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.londing{
  width: 100px;
  height: 100px;
}


footer span{
  border-bottom: #363435;
}